ul {
  -webkit-padding-start: 0 !important;
}
.tabs-component-tabs {
  border: 0;
  display: flex;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled *, .tabs-component-tab.is-disabled *:hover{
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed !important;
}

.tabs-component-tab {
  list-style: none;
  width: 33%;
  background-color: #48657C;
  color: #FFF;
  border-radius: 3px 3px 0 0;
  text-align: center;
}

.tabs-component-tab.is-active {
  border-bottom: solid 2px #fff;
  color: #FFF;
  font-weight: bold;
}

.tabs-component-tab-a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.tabs-component-tab-a:hover {
  color: white;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 12px;
}
